<div class="jumbotron">
    <h3 class="main">Vibgyor Paints</h3>
    <br>
    <div class="container">
    
    <a routerLink="/"><i class="fa fa-align-center"></i>Home</a>
    <a routerLink="/catalog" id="button">Catalog</a>
    <a routerLink="/orders" id="button"><i class="fa fa-cart-arrow-down" style="font-size:24px"></i>Orders</a>
    <a id="button" routerLink="/products">Products</a>
    <a id="button" routerLink="//about" >About Us</a>
    <a routerLink="/cart" id="button">Cart</a>
           
</div>
</div>
<div class="body">
<router-outlet></router-outlet>
</div>
<footer id="footer">
        <div class="container">
        <p class="follow">Follow Us on....</p>
        </div>
</footer>