<p>
    Vibgyor Paints India Limited is the third largest paint manufacturing company in the country. 
    They manufacture paint for both interior and exterior use. 
    They have earned a reputation for innovation with new products such as exterior paints designed to 
    reflect heat, anti-bacterial, water resistant paint etc. Vibgyor Paints has a consistent track record 
    of being one of the fastest growing paint companies, quarter-on-quarter, for the past three years.
</p>
<p>
    From an annual sales turnover of Rs 25 Lakhs, 3 years ago, 
    their business revenues are in excess of Rs 2000 crores today. 
    Sensing a significant growth potential, they have come up with rapid expansion plan across the Tier 1 
    cities of the country. Until today, they have operated in a B2B segment with a dealer and agent base of 
    25000 plus. However to achieve their ambitious growth plans, they believe that adding end customer 
    connect will bring in a significant source of revenue.From an annual sales turnover of Rs 25 Lakhs, 
    3 years ago, their business revenues are in excess of Rs 2000 crores today. Sensing a significant growth
    otential, they have come up with rapid expansion plan across the Tier 1 cities of the country. 
    Until today, they have operated in a B2B segment with a dealer and agent base of 25000 plus. 
    However to achieve their ambitious growth plans, they believe that adding end customer connect will bring 
    in a significant source of revenue.
</p>
